<template>

    <div style="height: 800px; width: 80%; margin: 50px auto;">
        <l-map
                v-if="showMap"
                :zoom="zoom"
                :center="center"
                :options="mapOptions"
                style="height: 80%"
                @update:center="centerUpdate"
                @update:zoom="zoomUpdate"
        >
            <l-tile-layer
                    :url="url"
                    :attribution="attribution"
            />
        </l-map>
    </div>
</template>

<script>
    import { latLng } from "leaflet";
    import { LMap, LTileLayer, /*LMarker, LPopup, LTooltip*/ } from "vue2-leaflet";

    export default {
        name: "Map",
        components: {
            LMap,
            LTileLayer,
            // LMarker,
            // LPopup,
            // LTooltip
        },
        data() {
            return {
                zoom: 5,
                center: latLng(47.41322, -1.219482),
                url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                attribution:
                    '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
                currentZoom: 11.5,
                currentCenter: latLng(47.41322, -1.219482),
                mapOptions: {
                    zoomSnap: 0.5
                },
                showMap: true
            };
        },
        methods: {
            zoomUpdate(zoom) {
                this.currentZoom = zoom;
            },
            centerUpdate(center) {
                this.currentCenter = center;
            },
            showLongText() {
                this.showParagraph = !this.showParagraph;
            },
            innerClick() {
                alert("Click!");
            }
        }
    };
</script>
