<template>
    <div class="navbar">
        <ul>
            <li><router-link to="/">Accueil</router-link></li>
            <li><router-link to="/add-virus">Ajouter un virus</router-link></li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: "Navbar"
    }
</script>

<style scoped>
    .navbar {
        display: flex;
        align-items: center;
        width: 100%;
        height: 60px;
        background-color: grey;
        border-radius: 5px;
    }
    ul {
        display: flex;
        list-style: none;
        padding: 0;
    }
    li {
        padding: 0 10px;
    }
    a {
        text-decoration: none;
        color: white;
        font-size: 20px;
    }
</style>