<template>
    <form action="" method="post">
        <div>
            <label for="name">Nom du virus :</label>
            <input type="text" name="name" id="name">
        </div>
        <div>
            <label for="description">Description :</label>
            <textarea id="description" name="description"></textarea>
        </div>
        <div>
            <label for="country">Pays :</label>
            <select name="country" id="country">
                <option value="fr">FRANCE</option>
                <option value="es">ESPAGNE</option>
                <option value="it">ITALIE</option>
            </select>
        </div>
        <input type="submit" value="Ajouter">
    </form>
</template>

<script>
    export default {
        name: "AddVirus"
    }
</script>

<style scoped>

</style>