<template>
  <div id="app">
      <a href="/">
        <img src="./assets/logo_Worldwide_Virus.png" alt="logo_Worldwide_Virus">
      </a>
      <div class="login_btn"><router-link to="/login">Connexion</router-link></div>
      <navbar/>
      <router-view/>
  </div>
</template>

<script>
// import Map from './components/Map.vue'
import Navbar from './components/Navbar.vue'

export default {
  // name: 'App',
  components: {
    // Map,
    Navbar
  }
}
</script>
<style>
    .login_btn {
        position: absolute;
        top: 30px;
        right: 30px;
        padding: 10px;
        background-color: grey;
        font-size: 20px;
        border-radius: 5px;
    }
    .login_btn a {
        text-decoration: none;
        color: #FFF;
    }
</style>